* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body ,html{
  background-color: #6decf5;
  height: 100%;
}

/* SignIn */
#sigin-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6decf5;
  opacity: 1;
}

#signin-box {
  background-color: white;
  width: 40%;
  height: 70vh;
  border-radius: 10px;
  border: 5px solid rgb(36, 105, 109);
  font-family: "Pangolin", cursive;
  color: #000000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#sigin-top {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #000000;
}

#sigin-bottom {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#sigin-bottom img {
  width: 11%;
  height: 10vh;
}

.sigin-input {
  width: 60%;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #000000;
  outline: none;
  background-color: #00000010;
  padding-left: 20px;
}

.sigin-input::placeholder {
  color: #50cdc6;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 120%;
  text-align: left;
}

.signin-eye {
  position: absolute;
  left: 59%;
  top: 47%;
}

#sigin-button {
  outline: none;
  border: none;
  width: 18%;
  height: 6vh;
  font-weight: bold;
  background-color: #117adb;
  border-radius: 25px;
  color: snow;
}

@media only screen and (max-width: 760px) {
  #signin-box {
    width: 80%;
  }
  .signin-eye {
    left: 65%;
  }
}

@media only screen and (max-width: 360px) {
  #sigin-button {
    width: 22%;
  }
}

@media only screen and (max-width: 415px) {
  #signin-box {
    width: 100%;
  }
}

/* Profile */
#profile-container {
  background: #6dedf5;
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
}

#profile-container h1 {
  width: 100%;
  height: 15vh;
  text-align: center;
  padding-top: 40px;
}
/* Profile Details Box */
#profile-box {
  width: 70%;
  background-color: #ffffff;
  margin: 0px auto;
  border-radius: 10px;
  border: 5px solid #3f969b;
}

#proile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
#proile-img-container img{
  height: 80%;
}
.profile-modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opactity 0.5s;
}
.profile-modal{
  width:30%;
  height:30%;
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.profile-modal-bg-active{
  visibility: visible;
  opacity: 1;
}
.profile-modal div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px;
}
.profile-modal div img{
  width: 12px;
  cursor: pointer;
} 
.profile-modal button{
  padding:5px 30px;
  background-color: #117adb;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Details */
#profile-details-container {
  width: 100%;
}
/* First Part */
#profile-details-sub {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  font-size: 1.5vw;
}

#profile-details-sub div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-details-sub-seconddiv {
  align-items: flex-end;
  padding-right: 30px;
}

.profile-class {
  width: 70%;
}

#profile-details-sub div input {
  border: 1.5px solid #000000;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  height: 40px;
  margin: 10px 0px;
  padding-left: 20px;
  width: 80%;
}

#profile-details-sub input::placeholder {
  color: #50cdc6;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 0px;
}

#profile-details-sub input:focus {
  outline: none;
}

/* Second Part */
#profile-extradetails-container {
  width: 100%;

  padding: 30px;
  color: #50cdc6;
}

.profile-title-class {
  color: black;
}

.profile-extradetails-input {
  width: 96.2%;
  height: 50px;
  border: 1.5px solid #000000;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  margin-bottom: 5px;
  padding-left: 10px;
}

.profile-extradetails-input:focus {
  outline: none;
}

#profile-skills,
#profile-experience,
#profile-resume {
  margin-top: 30px;
}

#profile-resume-input {
  text-align: center;
}

#profile-resume-input::placeholder {
  color: #50cdc6;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 2px;
}

#profile-upload-resume {
  border: 1.5px solid #000000;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  height: 50px;
  margin: 10px 0px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #50cdc6;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 2px;
  width: 96.2%;
  cursor: pointer;
}

/* End Section */
#profile-buttons-section {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 30px;
  flex-wrap: wrap;
}
.profile-end-buttons {
  border-radius: 25px;
  width: 10.5%;
  height: 30px;
  text-align: center;
  border: none;
  margin-right: 10px;
  color: snow;
  background: #117adb;
}
.profile-end-buttons:focus {
  outline: none;
}

@media only screen and (max-width: 870px) {
  #profile-box {
    width: 90%;
  }
  #profile-details-sub div input {
    width: 90%;
    font-size: 2vw;
  }
  #profile-details-sub div {
    padding: 5px;
  }
}

@media only screen and (max-width: 653px) {
  #profile-box {
    width: 100%;
  }
}

@media only screen and (max-width: 590px) {
  #profile-details-sub div input {
    letter-spacing: 0px;
    font-size: 2.2vw;
    padding: 10px;
  }
  #profile-details-sub input::placeholder {
    letter-spacing: 0px;
  }
  #profile-buttons-section {
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-right: 10px;
  }
  .profile-end-buttons {
    width: 40%;
  }
}

@media only screen and (max-width: 419px) {
  #profile-details-sub div input {
    font-size: 2.5vw;
  }
  #profile-buttons-section {
    padding-right: 0px;
  }
}

/* Sign Up */
#signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6decf5;
}

#signup-box {
  width: 60%;
  height: 90vh;
  background-color: snow;
  border: 5.39024px solid rgba(63, 150, 155, 0.7);
  box-shadow: 0px 4.31219px 4.31219px rgba(0, 0, 0, 0.25);
  border-radius: 10.7805px;
  font-family: "Pangolin", cursive;
}

#signup-box h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  width: 100%;
}

#signup-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.sigup-input {
  width: 40%;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #000000;
  outline: none;
  background-color: #00000010;
  padding-left: 20px;
  margin: 20px;
  font-size: 1.2vw;
}

.sigup-input::placeholder {
  color: #50cdc6;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2vw;
  text-align: left;
}

#signup-password,
#signup-repassword {
  position: absolute;
  cursor: pointer;
  top: 356px;
}

#signup-password {
  left: 44.7%;
}

#signup-repassword {
  left: 73.7%;
}

#signup-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#signup-submit {
  outline: none;
  border: none;
  width: 24%;
  height: 6vh;
  font-weight: bold;
  background-color: #117adb;
  border-radius: 25px;
  color: snow;
  letter-spacing: 2px;
  margin: 15px;
  margin-left: 38%;
}

#signup-bottom {
  height: 85px;
  border-top: 2px solid #000000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#signup-bottom img {
  width: 6%;
}

@media only screen and (max-width: 990px) {
  #signup-box {
    width: 80%;
  }
  #signup-password {
    left: 42.5%;
  }

  #signup-repassword {
    left: 80.7%;
  }
  .sigup-input {
    font-size: 2.5vw;
  }
  .sigup-input::placeholder {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 740px) {
  #signup-submit {
    width: 40%;
    font-size: 3vw;
    margin-left: 32%;
  }
  #signup-box {
    width: 100%;
  }
  #signup-password {
    left: 41%;
  }

  #signup-repassword {
    left: 88%;
  }
  .sigup-input {
    font-size: 2vw;
  }
  .sigup-input::placeholder {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 520px) {
  .sigup-input {
    width: 35%;
  }
  #signup-password {
    left: 38%;
  }

  #signup-repassword {
    left: 85%;
  }
  .sigup-input {
    font-size: 2vw;
  }
  .sigup-input::placeholder {
    font-size: 2.5vw;
    letter-spacing: 0.3px;
  }
}

@media only screen and (max-width: 400px) {
  #signup-password {
    left: 34%;
  }

  #signup-repassword {
    left: 83%;
  }
  .sigup-input {
    font-size: 3vw;
    padding-left: 5px;
  }
  .sigup-input::placeholder {
    font-size: 2.3vw;
    letter-spacing: 0px;
    padding-left: 0px;
  }
  #signup-details {
    justify-content: space-between;
    margin: 0px;
    padding: 5px;
  }
  #signup-password,
  #signup-repassword {
    top: 338px;
  }
}

/* Landing Page  aka Home*/

#home-container {
  width: 100%;
  height: 100%;
}

#home-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #51fafa;
}

#home-navbar h1 {
  color: #040aa4;
  font-size: 40px;
  font-weight: bold;
}

#home-navbar ul {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#home-navbar ul li {
  list-style-type: none;
  color: #040aa4;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
#home-navbar ul li:hover {
  text-shadow: 1px 1px 5px #676bda;
}

#home-area {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#home-area img {
  width: 80%;
}
#home-area div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 80px;
}
#home-area div h1 {
  letter-spacing: 1px;
  color: #040aa4;
  display: inline-block;
  width: 86%;
}

#home-area div h5 {
  padding-top: 5px;
  letter-spacing: 1px;
  font-weight: normal;
  display: inline-block;
  width: 65%;
}

#home-area div h4 {
  padding-top: 10px;
  letter-spacing: 1px;
  display: inline-block;
  width: 85%;
}

@media only screen and (max-width: 700px) {
  #home-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82.5vh;
  }
  #home-area img {
    position: absolute;
    top: 200px;
    height: 50%;
    opacity: 0.3;
    z-index: -1;
  }
  #home-area div {
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
  #home-area div h5 {
    font-weight: bold;
  }
  #home-area div h5,
  h4,
  h1 {
    width: 80%;
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  #home-navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 360px) {
  #home-navbar h1 {
    font-size: 10vw;
  }
}

/* Post */
/* Navbar */
#post-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3adcdc;
  padding: 10px 20px 5px 20px;
  height: 10vh;
}

#post-container nav input {
  outline: none;
  border: none;
  padding-left: 10px;
  height: 30px;
  border-radius: 2px;
  width: 30%;
}

#post-container nav h1 {
  color: #040aa4;
  font-size: 40px;
  font-weight: bold;
}

#home-search {
  position: absolute;
  left: 65%;
  width: 15px;
}

#home-user {
  width: 32px;
  border-radius: 50%;
  padding: 1px;
  border: 2px solid #000000;
  cursor: pointer;
}
#home-chat {
  width: 30px;
  cursor: pointer;
}
#post-main {
  height: 88vh;
  display: grid;
  grid-template-columns: 20% 80%;
}
#post-filter {
  background: #e8fffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}
.post-parent{
  position: relative;
}
.post-list{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: absolute;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  z-index: 1;
  max-height: 150px;
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
.post-list h6{
  padding:5px 0px;
}
.post-parent:hover .post-list{
  display: block;
}
.post-filters {
  outline: none;
  border: none;
  padding-left: 10px;
  height: 30px;
  border-radius: 2px;
  width: 90%;
  background-color: #ffffff;
}
#post-jobs {
  background-color: #3adcdc81;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

#post-add {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 50px;
}
/* Job Card */
#job-card {
  background-color: snow;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  border: 4px solid #3F969B;
  border-radius: 6px;
  cursor: pointer;
}

#job-card h5,h6{
  text-align: center;
}
nav div {
  position: absolute;
  right: 1px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3adcdc;
  border-radius: 2px;
  top: 10vh;
  width: 15%;
  display: none;
}
nav div p {
  cursor: pointer;
}
.nav-dropout {
  display: flex;
}

/* Chat  */

#chat-container {
  width: 100%;
  height: 100vh;
  background-color: #6decf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-box {
  width: 60%;
  height: 80vh;
  background-color: snow;
  border: 4px solid #3f969b;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

#chat-list img {
  padding-left: 20px;
  padding-top: 10px;
  cursor: pointer;
}

#chat-list {
  border-right: 4px solid #3f969b;
}
#chat-list h3 {
  text-align: center;
  border-bottom: 2px solid #000000;
  height: 6vh;
}

.chat-user h4 {
  border-bottom: 2px solid #000000;
  height: 11.7vh;
  width: 100%;
  text-align: center;
  line-height: 69px;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.chat-user h4 img {
  width: 50px;
  height: 40px;
}
#chat-messages {
  height: 60vh;
  border-bottom: 2px solid #000000;
  width: 100%;
  overflow-y: scroll;
}

#chat-type {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 7vh;
}
#chat-type input {
  outline: none;
  border: 2px solid #117adb;
  border-radius: 22px;
  width: 80%;
  padding-left: 20px;
}

#chat-type img {
  width: 6%;
  color: #117adb;
}

#chat-type input::placeholder {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
}

#chat-individual {
  display: flex;
  padding: 5px 5px;
}
#chat-individual p {
  background-color: #117adb;
  right: 0;
  border-radius: 10px;
  color: snow;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.chat-message-start {
  justify-content: flex-start;
}
.chat-message-end {
  justify-content: flex-end;
}

/* Add Post */
#addpost-container {
  background-color: #6dedf5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addpost-box {
  background-color: #ffffff;
  border: 5px solid #3f969b;
  border-radius: 11px;
  width: 80%;
}

.addpost-details-input {
  border-radius: 5px;
  border: 1.5px solid #000000;
  outline: none;
  background-color: #00000010;
  padding-left: 10px;
}
#addpost-details-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.addpost-details-input::placeholder {
  color: #50cdc6;
  font-weight: 600;
  letter-spacing: 2px;
}
#addpost-details-container div h5 {
  font-size: 1.3vw;
}

.addpost-individual-container {
  margin: 0px 10px;
}

#addpost-title-container input {
  width: 100%;
  height: 6vh;
}

#addpost-title-container {
  width: 50%;
}

#addpost-category-container {
  width: 40%;

  margin-left: 5%;
  margin-bottom: 2%;
}
#addpost-category-container input {
  width: 100%;
  height: 6vh;
}

#addpost-organization-container {
  width: 50%;
}
#addpost-organization-container input {
  width: 100%;
  height: 6vh;
}

#addpost-worktype-container {
  width: 40%;
  margin-left: 5%;
  margin-bottom: 2%;
}

#addpost-worktype-container input {
  width: 100%;
  height: 6vh;
}

.addpost-details-input {
  height: 6vh;
}
#addpost-details-bottom-container {
  padding: 0px 20px;
  width: 100%;
}
#addpost-req {
  margin: 0px 10px;
}
#addpost-req input {
  font-weight: 600;
  border-radius: 5px;
  border: 1.5px solid #000000;
  outline: none;
  background-color: #00000010;
  padding-left: 10px;
  width: 98%;
  height: 8vh;
}

#addpost-req h6 {
  color: #50cdc6;
}

#addpost-spec {
  margin: 0px 10px 10px 10px;
}

#addpost-spec input {
  font-weight: 600;
  border-radius: 5px;
  border: 1.5px solid #000000;
  outline: none;
  background-color: #00000010;
  padding-left: 10px;
  width: 98%;
  height: 8vh;
}

#addpost-spec h6 {
  color: #50cdc6;
}

#addpost-buttons-container {
  padding: 0px 40px 10px 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.addpost-buttons {
  border-radius: 25px;
  width: 10.5%;
  height: 30px;
  text-align: center;
  border: none;
  margin-right: 10px;
  color: snow;
  background: #117adb;
}
.addpost-buttons:focus{
  outline: none;
}